.navbar {
    background-color: #0004ff;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-bottom: 100px;
}

.navigation {
    display: flex;
    gap: 70px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    padding-top: 25px;
}